RewriteEngine On 
Options -Indexes 
RewriteRule ^automec2017?$ eventos/automec.php
RewriteRule ^perfect2017?$ eventos/perfect.php

ErrorDocument 400 index.php
ErrorDocument 401 index.php
ErrorDocument 403 index.php
ErrorDocument 500 index.php