RewriteEngine On 
Options -Indexes 
RewriteRule ^automec2017?$ automec.html
RewriteRule ^perfect2017?$ perfect.html

ErrorDocument 400 http://riolider.com.br/
ErrorDocument 401 http://riolider.com.br/
ErrorDocument 403 http://riolider.com.br/
ErrorDocument 500 http://riolider.com.br/